# Gradle files
.gradle/
build/

# Local configuration file (sdk path, etc)
local.properties

# Log/OS Files
*.log

# IntelliJ
*.iml
.idea/

#python environment
.venv

Dataset

env/*
*.egg-info/*
dist/*
__pycache__/*