@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
/* css reset */
:root{
    --color-primary: #38618C;
    --clr-btn-text: #FFFFFF;
    --font-family: 'Oswald', 'Dancing Script', cursive;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* css variables */
:root {
    --navheight: 59px;
}

body {
    background-color: white;
    font-family: var(--font-family);
}

/* navigation bar */
#navbar {
    box-sizing: border-box;
    position: fixed;
    width: 100vw;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.8);
}

#logo img {
    height: 56px;
}

#navbar ul {
    display: flex;
    font-family: 'Oswald', 'Dancing Script', cursive;
    justify-content: center;
    gap: 3em;
}

#navbar ul li {
    list-style: none;
    font-size: 2.3rem;

}

#navbar ul li a {
    color: #F5F5F5;
    text-decoration: none;
    position: relative;
}

#navbar a:hover,
#navbar a:focus {
    color: #ADADAD;
}

#navbar a:hover::after {
    display: inline-block;
    content: "";
    width: 100%;
    height: 2px;
    position: absolute;
    background-color: white;
    bottom: 0;
    left: 0;
    z-index: 2;
}

/* home Section */
#home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 60px);
    gap: 20px;
}

#home::before {
    content: "";
    background: url(pexels-valeria-boltneva-1639562.jpg) no-repeat center center/cover;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.89;
    top: 0px;
    left: 0px;
}

#home h1 {
    color: white;
    text-align: center;
}

#home p {
    color: white;
    text-align: center;
    font-size: 1.5rem;
}

/* Client section */
#clientsection {
    background: url(hikarinoshita-hikari-yv5xBdYv410-unsplash.jpg)no-repeat center center/cover;
}

html {
    scroll-behavior: smooth;
}

#client {
    display: flex;
    justify-content: center;
    align-items: center;
}

#client img {
    height: 144px;
}

#client img {
    height: auto;
}

.client-item {
    padding: 40px 40px;
}

footer {
    background: black;
    color: white;
    position: relative;
    /* top: 46px; */
    padding: 1px;
}

/* Utility classes  */
.primary {
    font-size: 3.8rem;
}

.primary1 {
    font-size: 1.8rem;
    text-align: center;
}

.primary2 {
    font-size: 3.8rem;
    text-align: center;
    color: white;
}

.secondary {
    font-size: 1.8rem;
    text-align: center;
}

.btn {
    border: 2px solid white;
    background-color: black;
    color: white;
    margin: 17px;
    border-radius: 16px;
    cursor: pointer;
}

.radio-box {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.radio-box label {
    display: flex;
    gap: 10px;
}

.center {
    text-align: center;
    background-color: black;
    color: white;
}

#locationForm {
    width: 30%;
}

#locationForm > *:not(:last-child) {
    margin-bottom: 20px;
}

.input-field {
    font-size: 36px;
    font-family: inherit;
    background: #F5F5F5;
    padding: 8px 20px;
    border: none;
    border-radius: 5px;
    outline: none;
    transition: .2s ease;
    width: 100%;
}

.input-field:hover,
.input-field:focus {
    background: rgba(255, 255, 255, 0.25);
}

::-webkit-input-placeholder {
    color: #fff;
}

.input-box{
    display: flex;
    gap: 2px;
}

.submit {
    font-family: inherit;
    padding: 8px 20px;
    font-size: 36px;
    font-weight: 500;
    color: var(--clr-btn-text);
    border: none;
    border-radius: 5px;
    outline: none;
    background: var(--color-primary);
    cursor: pointer;
    transition: .3s ease-in-out;
}

.submit:hover {
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 1px 5px 7px 1px rgba(0, 0, 0, 0.2);
}

.user {
    position: relative;
    left: 437px;

    /* color: red; */
}

.text {
    position: relative;
    color: rgb(0, 0, 0);
}

table {
    width: 100%;
    border-collapse: collapse;
    text-transform: capitalize;
}

th,
td {
    padding: 8px;
    color: white;
    text-align: center;
    /* border: 1px solid #030303; */
    background-color: rgba(0, 0, 0, 0.5);
}

/* Optional: Add styles for table header */
th {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}
