@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

:root {
    --navheight: 59px;
    --font-family: 'Oswald', 'Dancing Script', cursive;
    --clr-primary: #38618C;
    --clr-btn-text: #FFFFFF;
}

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}

body {
    background-color: white;
}

a {
    color: inherit;
    text-decoration: none;
}

.logo {
    width: 128px;
}

nav ul {
    display: flex;
    font-family: 'Oswald', 'Dancing Script', cursive;
    justify-content: center;
    gap: 3em;
}

nav a:hover::after {
    display: inline-block;
    content: "";
    width: 100%;
    height: 2px;
    position: absolute;
    background-color: white;
    bottom: 0;
    left: 0;
    z-index: 2;
}

nav:has(li),
nav ul:has(li) {
    color: white;
    list-style: none;
    font-size: 32px;
}

nav a:hover,
nav a:focus {
    color: #ECEBE9;
}

nav::before {
    background-color: black;
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 1.4;
}

#home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 100vh;
    gap: 20px;
}

#home::after {
    content: "";
    background: #222222;
    opacity: .3;
    width: 100%;

    height: 100%;
    position: absolute;
    z-index: -1;
}

#home h1 {
    text-transform: capitalize;
    text-align: center;
    color: #EBEBEB;
    font-size: 10.8rem;
    text-align: center;
}

#home::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.89;
    top: 0px;
    left: 0px;
    background-size: cover;
}

.home--valeria::before {
    background: url(pexels-valeria-boltneva-1639562.jpg) no-repeat center center/cover;
}

.home--lisa-fotios-bg::before {
    background: url(pexels-lisa-fotios-776538.jpg) no-repeat;
}

#home p {
    color: white;
    text-align: center;
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
}

.center {
    text-align: center;
    background-color: black;
    color: white;
}

.btn {
    background-color: #333333;
    background-color: black;
    border-radius: 16px;
    border-radius: 5px;
    border: 2px solid white;
    border: none;
    box-shadow: 10px 10px 20px black;
    color: white;
    cursor: pointer;
    font-family: inherit;
    font-size: 32px;
    padding: 6px 20px;
}

.container {
    min-height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    padding-bottom: 60px;
}

.container .content {
    text-align: center;
}

.container .content h3 {
    font-size: 30px;
    color: #333;
}

.container .content h3 span {
    background: crimson;
    color: #fff;
    border-radius: 5px;
    padding: 0 15px;
}

.container .content h1 {
    font-size: 50px;
    color: #333;
}

.container .content h1 span {
    color: crimson;
}

.container .content p {
    font-size: 25px;
    margin-bottom: 20px;
}

.container .content .btn {
    display: inline-block;
    padding: 10px 30px;
    font-size: 20px;
    background: #333;
    color: #fff;
    margin: 0 5px;
    text-transform: capitalize;
}

.container .content .btn:hover {
    background: crimson;
}

.form-container {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background-image: url(pexels-pixabay-326281.jpg);
    background-size: cover;
    gap: 40px;
}

.form-container form {
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .1);
    background: #fff;
    text-align: center;
    width: 500px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form-container form h3 {
    font-size: 30px;
    text-transform: uppercase;
    color: #333;
}

.form-container form input,
.form-container form select {
    width: 100%;
    padding: 10px 15px;
    font-size: 17px;
    background: #eee;
    border-radius: 5px;
}

.form-container form select option {
    background: #fff;
}

.form-container form .form-btn {
    background: #fbd0d9;
    color: crimson;
    text-transform: capitalize;
    font-size: 20px;
    cursor: pointer;
}

.form-container form .form-btn:hover {
    background: crimson;
    color: #fff;
}

.form-container form p {
    font-size: 20px;
    color: #333;
}

.form-container form p a {
    color: crimson;
}

.form-container form .error-msg {
    margin: 10px 0;
    display: block;
    background: crimson;
    color: #fff;
    border-radius: 5px;
    font-size: 20px;
    padding: 10px;
}

.primary {
    text-align: center;
    font-size: 6.8rem;
    color: white;
    font-weight: bolder;
    white-space: nowrap;
}

.primary1 {
    font-size: 1.8rem;
    text-align: center;
    position: relative;
    top: -74px;
}

.primary2 {
    font-size: 3.8rem;
    padding: 25px;
    text-align: center;
    color: white;
}

.primary:not(.primary:first-child) {
    position: absolute;
}

.secondary {
    font-size: 1.8rem;
    padding: 12px;
    text-align: center;
}

#client {
    display: flex;
    justify-content: center;
    align-items: center;
}

#client img {
    height: 144px;
}

.client-item {
    padding: 40px 40px;
}

#clientsection {
    background: url(pexels-chan-walrus-941861.jpg)no-repeat center center/cover;
    background: url(hikarinoshita-hikari-yv5xBdYv410-unsplash.jpg) no-repeat center center/cover;
    background: url(hikarinoshita-hikari-yv5xBdYv410-unsplash.jpg)no-repeat center center/cover;
}

.img {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

nav .logo {
    width: 62px;
}

.img p:nth-child(1) {
    color: transparent;
    filter: blur(3px);
}

.img p:nth-child(3) {
    color: rgb(255, 255, 255);
    z-index: 1;
}

.img p:nth-child(2) {
    color: #ea7ea2;
    z-index: 2;
    animation: animate 4s ease infinite;
}

@keyframes animate {

    0%,
    100% {
        clip-path: polygon(0% 48%, 12% 44%, 24% 49%, 43% 57%, 59% 56%, 73% 52%, 99% 44%, 100% 100%, 0% 100%);
    }

    50% {
        clip-path: polygon(0 54%, 15% 60%, 29% 62%, 42% 59%, 58% 51%, 78% 43%, 100% 51%, 100% 99%, 0 100%);
    }

    /* css reset */
}


.input-field {
    background: #F5F5F5;
    border-radius: 5px;
    border: none;
    color: inherit;
    font-family: inherit;
    font-size: 36px;
    outline: none;
    padding: 0 10px 0 45px;
    padding: 8px 20px;
    transition: .2s ease;
}

.input-field:hover,
.input-field:focus {
    background: rgba(255, 255, 255, 0.25);
}

::-webkit-input-placeholder {
    color: #fff;
}

.input-box i {
    position: relative;
    top: -35px;
    left: 17px;
    color: #fff;
}

/* Optional: Add styles for table header */

th table {
    width: 100%;
    border-collapse: collapse;
    text-transform: capitalize;
}

th,
td {
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px solid #030303;
    color: white;
    padding: 8px;
    text-align: center;
}

th {
    background-color: #000000;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}

footer {
    background: black;
    color: white;
}

/* end */

#service {
    margin-block: 100px;
}

#servicebox {
    display: flex;
    gap: 20px;
    justify-content: center;
}

#servicebox .box {
    border: 2px solid rgb(4, 4, 4);
    padding: 19px;
    border-radius: 10px;
}

#servicebox .box img {
    height: 156px;
    margin: auto;
    /*margin auto only work when diplay is block */
    display: block;
}

/* contact section  */
#contact {
    position: relative;
}

#contact::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.7;
    background: url(contact.jpg)no-repeat center center/cover;
}

/* Utility classes  */


.boxul {
    text-decoration: none;
    color: black;
}

.boxul:hover {
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
}

.btn a {
    text-decoration: none;
    color: white;
}

#contact h1 {
    color: white;
}

.container form {
    display: grid;
    grid-template-columns: repeat(2, 500px);
    grid-template-rows: repeat(4, auto);
    gap: 10px;
}

.container form input {
    font-family: inherit;
    box-sizing: border-box;
    padding: 10px 20px;
    outline: none;
    border: 1px solid #E0E0E0;
    border-radius: 5px;
    font-size: 20px;
}

.container form input::placeholder {
    color: #050505;
}

.container form textarea {
    font-family: inherit;
    grid-area: 3/span 2;
    background: none;
    border: none;
    border-radius: 5px;
    font-weight: 200;
    font-size: 15px;
    padding: 10px;
    outline: none;
    background-color: white;
}

textarea::-webkit-scrollbar {
    width: 1em;
}

textarea::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.5);
}

button[type="submit"] {
    background-color: var(--clr-primary);
    border-radius: 5px;
    border: none;
    color: var(--clr-btn-text);
    cursor: pointer;
    font-family: inherit;
    font-size: 36px;
    font-weight: 500;
    outline: none;
    padding: 8px 20px;
    transition: .3s ease-in-out;
}

.btn:hover,
.btn:active {
    background-color: #555555;
}

button[type="submit"]:hover {
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 1px 5px 7px 1px rgba(0, 0, 0, 0.2);
}

.container form #button {
    grid-area: 4/span 2;
    justify-self: center;
    border: none;
    background-color: #38618C;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: 600;
    font-size: 20px;
    color: white;
    margin-right: 15x;
    margin-bottom: 30px;
    transition: 0.3;
}

.container form #button:hover {
    cursor: pointer;
    background-color: #294666;
}


/* home Section */




body {
    background-color: white;
    font-family: var(--font-family);
}


/* home Section */


#home p {
    color: white;
    text-align: center;
    font-size: 1.5rem;
}

/* Client section */


/* Utility classes  */



.radio-box {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.radio-box label {
    display: flex;
    gap: 10px;
}

#locationForm>*:not(:last-child) {
    margin-bottom: 20px;
}


.input-field:hover,
.input-field:focus {
    background: rgba(255, 255, 255, 0.25);
}

::-webkit-input-placeholder {
    color: #fff;
}

.input-box {
    display: flex;
    gap: 2px;
}

.text {
    position: relative;
    color: rgb(0, 0, 0);
}

th,
td {
    padding: 8px;
    color: white;
    text-align: center;
    /* border: 1px solid #030303; */
    background-color: rgba(0, 0, 0, 0.5);
}

/* Optional: Add styles for table header */
th {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}

/* navigation bar */

nav ul li a {
    display: block;
    color: white;
    text-decoration: none;
}

/* home Section */

#home p {
    color: white;
    text-align: center;
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
}



/* Client section */


html {
    scroll-behavior: smooth;
    /*for smooth scrolling */
}


/* Utility classes  */






.input-field:hover,
.input-field:focus {
    background: rgba(255, 255, 255, 0.25);
}

::-webkit-input-placeholder {
    color: #fff;
}

.input-box i {
    position: relative;
    top: -35px;
    left: 17px;
    color: #fff;
}


.text {
    position: relative;
    color: rgb(0, 0, 0);
    /* font-family:Arial, Helvetica, sans-serif  */
}

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    padding: 8px;
    color: white;
    text-align: center;
    border: 1px solid #030303;
}

/* Optional: Add styles for table header */
th {
    background-color: #000000;
    color: white;
}

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

/* css variables */

/* navigation bar */
nav {
    box-sizing: border-box;
    position: fixed;
    width: 100vw;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.8);
}

/* logo and image */

nav a:hover::after {
    display: inline-block;
    content: "";
    width: 100%;
    height: 2px;
    position: absolute;
    background-color: white;
    bottom: 0;
    left: 0;
    z-index: 2;
}

/* home Section */


/* Client section */


html {
    scroll-behavior: smooth;
    /*for smooth scrolling */
}


/* Utility classes  */




.input-field:hover,
.input-field:focus {
    background: rgba(255, 255, 255, 0.25);
}

::-webkit-input-placeholder {
    color: #fff;
}

.text {
    position: relative;
    color: rgb(0, 0, 0);
    /* font-family:Arial, Helvetica, sans-serif  */
}

table {
    width: 100%;
    border-collapse: collapse;
    text-transform: capitalize;
}

th,
td {
    padding: 8px;
    color: white;
    text-align: center;
    /* border: 1px solid #030303; */
    background-color: rgba(0, 0, 0, 0.5);
}

/* Optional: Add styles for table header */
th {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}
