{% extends 'base.html' %}
{% block title %}City Hotels{% endblock%}
{% block content %}
<h1>City Hotels</h1>
<form action="/city" method="post">
    <label for="city">Enter City Code:</label>
    <input type="text" id="city" name="city" required>
    <button type="submit">Search</button>
</form>
<div class="xyz">
    <h2 class="pr">Prediction Result:</h2>
    <br>
    <div class="pri">
        {{ prediction_text }}
    </div>
    <div>
        <h1>Table from DataFrame</h1>
        {{ table | safe }}
    </div>
</div>
{% endblock %}
