{% extends 'base.html' %}
{% block title %}Food Delivery{% endblock %}
{% block content %}
{% include 'navbar.html' %}
<section id="home" class="home--lisa-fotios-bg">
    <h1 class="hometxt"> welcome To <br> Blise Bite</h1>
    <button class="btn"><a href="#service">Find Restaurant</a></button>
</section>
<section id="service">
    <h1 class="primary">Our Services</h1>
    <div id="servicebox">
        <a class="boxul" href="/location">
            <div class="box">
                <img src="../static/css/1.png" alt="">
                <h2 class="secondary">Location Locator</h2>
                <p class="center">Discover Nearby Delights</p>
            </div>
        </a>
        <a class="boxul" href="/similarrestaurent">
            <div class="box">
                <img src="../static/css/2.png" alt="">
                <h2 class="secondary">Similar Tastes</h2>
                <p class="center"> Culinary Companions
            </div>
        </a>
        <a class="boxul" href="/rating">
            <div class="box">
                <img src="../static/css/3.png" alt="">
                <h2 class="secondary">Ratings Roundup</h2>
                <p class="center">Gastronomic Grades
            </div>
        </a>
        <a class="boxul" href="/cuisine">
            <div class="box">
                <img src="../static/css/4.png" alt="">
                <h2 class="secondary">Cuisine Quests</h2>
                <p class="center">Flavorful Finds
            </div>
        </a>
    </div>
</section>
<section id="contact">
    <h1 class="primary">Contact Us </h1>
    <div id="contactbox" class="container">
        <form action="https://api.web3forms.com/submit" method="POST">
            <input type="hidden" name="access_key" value="5b7e77b4-3431-4056-9465-d3fe636b8e65">
            <input type="text" name="name" id="firstname" placeholder="Enter your First name" required>
            <input type="text" name="name" id="lastname" placeholder="Enter your Last name" required>
            <input type="text" name="email" id="email" placeholder="Enter your Email" required>
            <input type="text" name="name" id="phno" placeholder="Enter your Phoneno" required>
            <textarea name="message" id="txtarea" cols="30" rows="10" placeholder="Type Your Message here"
                required></textarea>
            <input type="submit" value="SEND THAT BITE" id="button">
        </form>
    </div>
</section>
{% endblock %}
