<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restaurant Recommendation</title>
    <link rel="stylesheet" href="../static/css/styledashboard.css">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Dancing+Script&family=Indie+Flower&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Dancing+Script&family=Indie+Flower&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Dancing+Script&family=Indie+Flower&display=swap" rel="stylesheet">
</head>
<body>
    
    <nav id="navbar">
        <div id="logo">
            <img src="logo.jpg" alt="">
        </div>
        <ul>
            <li class="item"><a href="#home">Home</a></li>
            <li class="item"><a href="#clientsection">Restaurants</a></li>
            <li class="item"><a href="#clientsection">About Us</a></li>
            <li class="item"><a href="#contact">Contact Us</a></li>
        </ul>
        <ul>
            <li class="item"><a href="/logout"><div id="user">Logout {{user.name }}</div></a></li>
            
        </ul>
    </nav>

    <section id="home">        
        <h1 class="primary"> welcomee To My Page</h1>
        <h1 class="primary1">Discover the best food & drinks </h1>
            <!------------------- login form -------------------------->
               <form action="/city" method="post">
                <div class="input-box">
                    <input type="city" class="input-field"name="city" placeholder="Enter City Name" required>
                    <i class="bx bx-user"></i>
                </div>
                <div class="input-box">
                    <button type="submit"  class="submit">Search </button>
                </div>
                
            </form>
    </section>

    <section id="clientsection">
        <h1 class="primary2">Restaurant In {{ prediction_text}}</h1>
        <div>
            {{ table | safe }}
        </div>
    </section>

    <footer>
        <div class="center"></div>
    </footer>
    
</body>
</html>