{% block title %}Restaurant Recommendation{% endblock %}
{% block content %}
<section id="home home--valeria">
    <h1 class="primary"> welcomee To Location Locator</h1>
    <h1 class="primary1">Discover the best food & drinks </h1>
    <!------------------- login form -------------------------->
    <form action="/location" method="post">
        <div class="input-box">
            <input type="location" class="input-field" name="location" placeholder="Enter Location Name" required
                list="script">
            <button type="submit" class="submit"><a href="#clientsection"></a>Search </button>
            <datalist id="script">
                <option value="Banashankari"></option>
                <option value="Bannerghatta Road"></option>
                <option value="Basavanagudi"></option>
                <option value="Bellandur"></option>
                <option value="Brigade Road"></option>
                <option value="Brookefield"></option>
                <option value="BTM"></option>
                <option value="Church Street"></option>
                <option value="Electronic City"></option>
                <option value="Frazer Town"></option>
                <option value="HSR"></option>
                <option value="Indiranagar"></option>
                <option value="JP Nagar"></option>
                <option value="Kalyan Nagar"></option>
                <option value="Jayanagar"></option>
                <option value="Kammanahalli"></option>
                <option value="Koramangala 5th Block"></option>
                <option value="Koramangala 7th Block"></option>
                <option value="Koramangala 4th Block"></option>
                <option value="Koramangala 6th Block"></option>
                <option value="Lavelle Road"></option>
                <option value="Marathahalli"></option>
                <option value="New BEL Road"></option>
                <option value="Residency Road"></option>
                <option value="Rajajinagar"></option>
                <option value="MG Road"></option>
                <option value="Whitefield"></option>
                <option value="Old Airport Road"></option>
                <option value="Malleshwaram"></option>
                <option value="Sarjapur Road"></option>

            </datalist>
            <i class="bx bx-user"></i>
        </div>
    </form>
</section>
<section id="clientsection">
    {%block result %}
    {%endblock%}
</section>
{% end block %}
