{% extends 'base.html' %}
{% block title %}Login Form{% endblock %}
{% block content %}
<div class="form-container">
   <form action="/login" method="post">
      <h3>login now</h3>
      <input type="email" name="email" required placeholder="enter your email">
      <input type="password" name="password" required placeholder="enter your password">
      <input type="submit" name="submit" value="login now" class="form-btn">
      <p>don't have an account? <a href="/register">register now</a></p>
   </form>
   <div class="img">
      <p class="primary">Blise Bite</p>
      <p class="primary">Blise Bite</p>
      <p class="primary">Blise Bite</p>
      <img class="logo" src="../static/css/logo.png" alt="Image not found">
   </div>
</div>
{% endblock %}
