<nav id="navbar">
    <div id="logo">
        <img src="../static/css/logo.png" alt="">
    </div>
    <ul>
        <li class="item"><a href="/dashboard">Home</a></li>
        <li class="item"><a href="/dashboard#service">Services</a></li>
        <li class="item"><a href="/dashboard#clientsection">About Us</a></li>
        <li class="item"><a href="/dashboard#contact">Contact Us</a></li>
    </ul>
    <ul id="user">
        <li class="item"><a href="/logout">
                <div id="user">Logout</div>
            </a></li>

    </ul>
</nav>
