{% extends 'base.html' %}
{% block title %}Restaurant Recommendation{% endblock %}
{% block content %}
{% include 'navbar.html' %}
<section id="home" class="home--valeria">
    <h1 class="primary">Ratings</h1>
    <form action="/rate" method="post">
        <div class="input-box">
            <input type="rate" class="input-field" name="rate" placeholder="Enter Restaurant Name" required
                list="script">
            <button type="submit" class="submit"><a href="#clientsection"></a>Search </button>
            <datalist id="script">
                <option value="Jalsa"></option>
                <option value="Spice Elephant"></option>
                <option value="San Churro Cafe"></option>
                <option value="Addhuri Udupi Bhojana"></option>
                <option value="Grand Village"></option>
                <option value="Timepass Dinner"></option>
                <option value="Rosewood International Hotel - Bar & Restaurant"></option>
                <option value="Onesta"></option>
                <option value="Penthouse Cafe"></option>
                <option value="Smacznego"></option>
                <option
                    value="Cafã\x83Â\x83Ã\x82Â\x83Ã\x83Â\x82Ã\x82Â\x83Ã\x83Â\x83Ã\x82Â\x82Ã\x83Â\x82Ã\x82Â© Down The Alley">
                </option>
                <option value="Cafe Shuffle"></option>
                <option value="The Coffee Shack"></option>
                <option value="Caf-Eleven"></option>
                <option value="Cafe Vivacity"></option>
                <option value="Catch-Up-Ino"></option>
                <option value="360 Atoms Restaurant And Cafe"></option>
                <option value="The Vintage Cafe"></option>
                <option value="Woodee Pizza"></option>
                <option value="Cafe Coffee Day"></option>
                <option value="My Tea House"></option>
                <option value="Hide Out Cafe"></option>
                <option value="Cafe Nova"></option>
                <option value="Coffee Tindi"></option>
                <option value="Sea Green Cafe"></option>
                <option value="Cuppa"></option>
                <option value="Foodiction"></option>
                <option value="Sweet Truth"></option>
                <option value="Ovenstory Pizza"></option>
                <option value="Faasos"></option>
                <option value="Behrouz Biryani"></option>
                <option value="Fast And Fresh"></option>
                <option value="Szechuan Dragon"></option>
                <option value="Empire Restaurant"></option>
                <option value="Maruthi Davangere Benne Dosa"></option>
                <option value="Chaatimes"></option>
                <option value="Havyaka Mess"></option>
                <option value="Kitchen Garden"></option>
                <option value="Recipe"></option>
                <option value="Beijing Bites"></option>
                <option value="Tasty Bytes"></option>
                <option value="Petoo"></option>
                <option value="Shree Cool Point"></option>
                <option value="Corner House Ice Cream"></option>
                <option value="Biryanis And More"></option>
                <option value="Roving Feast"></option>
                <option value="Freshmenu"></option>
                <option value="Banashankari Donne Biriyani"></option>
                <option value="Wamama"></option>
                <option value="Five Star Chicken"></option>
                <option value="Xo Belgian Waffle"></option>
                <option value="Peppy Peppers"></option>
                <option value="Goa 0 Km"></option>
                <option value="Chinese Kitchen"></option>
                <option value="1947"></option>
                <option value="Cake Of The Day"></option>
                <option value="Kabab Magic"></option>
                <option value="Sugar Rush"></option>
                <option value="Burger King"></option>
                <option value="The Good Bowl"></option>
                <option value="The Biryani Cafe"></option>
                <option value="Lsd Cafe"></option>
                <option value="Rolls On Wheels"></option>
                <option value="Sri Guru Kottureshwara Davangere Benne Dosa"></option>
                <option value="Devanna Dum Biriyani Centre"></option>
                <option value="Kolbeh"></option>
                <option value="Upahar Sagar"></option>
                <option value="Kadalu Sea Food Restaurant"></option>
                <option value="Frozen Bottle"></option>
                <option value="Parimala Sweets"></option>
                <option value="Vaishali Deluxe"></option>
                <option value="The Big O Bakes"></option>
                <option value="Meghana Foods"></option>
                <option value="Krishna Sagar"></option>
                <option value="Dessert Rose"></option>
                <option value="Ayda Persian Kitchen"></option>
                <option value="Chatar Patar"></option>
                <option value="Polar Bear"></option>
                <option value="Kotian Karavali Restaurant"></option>
                <option value="Floured-Baked With Love"></option>
                <option value="Cakes & Slices"></option>
                <option value="Spice 9"></option>
                <option value="Naveen Kabab & Biriyani Mane"></option>
                <option value="Katriguppe Donne Biryani"></option>
                <option value="Atithi Point Ande Ka Funda"></option>
                <option value="Just Bake"></option>
                <option value="K27 - The Pub"></option>
                <option value="Bengaluru Coffee House"></option>
                <option value="New Mangalore Lunch Home"></option>
                <option value="Coffee Bytes"></option>
                <option value="Parjanya Chat Zone"></option>
                <option value="Anna Kuteera"></option>
                <option value="Darbar"></option>
                <option value="Vijayalakshmi"></option>
                <option value="Sri Udupi Food Hub"></option>
                <option value="Udupi Upahar"></option>
                <option value="House Of Kebabs"></option>
                <option value="Roll N Rock"></option>
                <option value="Box8- Desi Meals"></option>
                <option value="Kfc"></option>
                <option value="Roll Over"></option>
                <option value="Imperial Restaurant"></option>
                <option value="Lassi Shop"></option>
                <option value="The Fortuna"></option>
                <option value="Wahab"></option>
                <option value="Al Diwan Biryanis And More"></option>
                <option value="Diabetics Dezire Sugarless Sweets And Bakes"></option>
                <option value="The Blue Wagon - Kitchen"></option>
                <option value="Hot Coffee"></option>
                <option value="Patio 805"></option>
                <option value="Lassi Corner"></option>
                <option value="Sagar Deluxe"></option>
                <option value="Kanti Sweets"></option>
                <option value="Vegetalia"></option>
                <option value="Aramane Donne Biryani"></option>
                <option value="Ande Ka Funda"></option>
                <option value="Cake Ghar"></option>
                <option value="Energy Addaa"></option>
                <option value="Bhattara Bhojana"></option>
                <option value="Tandoori Knight"></option>
                <option value="Dev Sagar - Food Street"></option>
                <option value="Mitraa Da Pizza"></option>
                <option value="Paradise Premium"></option>
                <option value="Grazers"></option>
                <option value="Shakes Theory"></option>
                <option value="@Italy"></option>
                <option value="Chilli Flakes"></option>
                <option value="Calcutta Cafe"></option>
                <option value="Old Mumbai Ice Cream"></option>
                <option value="Donne Biriyani House"></option>
                <option value="By 2 Coffee"></option>
                <option value="Just Shawarma"></option>
                <option value="Mini Punjabi Dhaba"></option>
                <option value="Mulabagilu Dosa"></option>
                <option value="Gokul Veg"></option>
                <option value="Olive - Era"></option>
                <option value="Udupi Ruchi"></option>
                <option value="Madhappa Hindu Military Hotel"></option>
                <option value="Gama Gama"></option>
                <option value="Pizza Hut"></option>
                <option value="Mangalore Pearl"></option>
                <option value="Asha Sweets Centre"></option>
                <option value="Twiststick House"></option>
                <option value="Cool Corner"></option>
                <option value="Pizza Mane"></option>
                <option value="Dal Tadkaa"></option>
                <option value="Chutney Chang"></option>
                <option value="Mystique Palate"></option>
                <option value="Thamboola"></option>
                <option value="Castle Rock"></option>
                <option value="Vietnamese Kitchen"></option>
                <option value="C Corner"></option>
                <option value="Paratha Merchant"></option>
                <option value="North Rasoe"></option>
                <option value="Toscano"></option>
                <option value="Lord Of The Kitchen"></option>
                <option value="Stoned Monkey"></option>
                <option value="Central Jail Restaurant"></option>
                <option value="Bella"></option>
                <option value="Vennela Andhra Meals"></option>
                <option value="New Prashanth Hotel"></option>
                <option value="The Grillo"></option>
                <option value="Re Malnad Nati Style Hotel"></option>
                <option value="Rs Shiv Sagar"></option>
                <option value="Kholi Mane"></option>
                <option value="Harshi Super Sandwich"></option>
                <option value="Cake Yard"></option>
                <option value="Sri Udupi Veg"></option>
                <option value="Cake Art"></option>
                <option value="Potato House"></option>
                <option value="Matru Sagar"></option>
                <option value="Ugadi"></option>
                <option value="Sri Krishna Sweets"></option>
                <option value="In Time Cane Juice"></option>
                <option value="Subway"></option>
                <option value="Daal Roti"></option>
                <option value="The Lassi Park"></option>
                <option value="A2B - Adyar Ananda Bhavan"></option>
                <option value="Srikrishna Bhavan"></option>
                <option value="Green Gardenia"></option>
                <option value="J Spice"></option>
                <option value="Karavali Family Restaurant"></option>
                <option value="Karavali Lunch Home"></option>
                <option value="Hatti Kaapi"></option>
                <option value="The Chaat Shop"></option>
                <option value="Anda Ka Funda"></option>
                <option value="Shri Vinayaka Ice N Juice"></option>
                <option value="Ibaco"></option>
                <option value="Jalaram Sweets"></option>
                <option value="Samskruti - Sanman Gardenia"></option>
                <option value="Bendakaluru Bytes"></option>
                <option value="Cocoa Bakes"></option>
                <option value="Chumma Delicious"></option>
                <option value="Dwaraka Grand"></option>
                <option value="Gufha - The President Hotel"></option>
                <option value="Mojo Pizza - 2X Toppings"></option>
                <option value="Iceberg Icecreams"></option>
                <option value="South Kitchen"></option>
                <option value="Chung Wah"></option>
                <option value="Shanthi Sagar"></option>
                <option value="Millet Mama"></option>
                <option value="Bangarpet Chat Express"></option>
                <option value="Prems Graama Bhojanam"></option>
                <option value="Java City"></option>
                <option value="Kamat Bugle Rock"></option>
                <option value="Puliyogare Point"></option>
                <option value="Bangalore Agarwal Bhavan"></option>
                <option value="Rustic Stove"></option>
                <option value="Udupi Ruchi Grand"></option>
                <option value="De Thaali"></option>
                <option value="Just Thindi"></option>
                <option value="Vasanth Vihar - Since 1965"></option>
                <option value="Sea Spice By 7 Star"></option>
                <option value="Desi Dawat"></option>
                <option value="Cafe Aira"></option>
                <option value="Mast Punjabi"></option>
                <option value="South Grand"></option>
                <option value="The Pizzeria"></option>
                <option value="Cafe Zone"></option>
                <option value="Ruchis Point"></option>
                <option value="Firangi Bake"></option>
                <option value="The Royal Corner - Pai Viceroy"></option>
                <option value="Hara Fine Dine"></option>
                <option value="Chocoberry"></option>
                <option value="Dakshin Grand"></option>
                <option value="Sandwichwallas"></option>
                <option value="Chai Mane"></option>
                <option value="Slv Upachar"></option>
                <option value="Waffle-A-Go Go"></option>
                <option value="Cross Road Cafe"></option>
                <option value="Anand Donne Biriyani"></option>
                <option value="Seven Star"></option>
                <option value="Fudge"></option>
                <option value="Just Bunny"></option>
                <option value="Bakers Town"></option>
                <option value="Shree Mahalakshmi Sweets"></option>
                <option value="Kaapi Kendra"></option>
                <option value="Ivy"></option>
                <option value="The Airos"></option>
                <option value="Chai Kraft"></option>
                <option value="South Point Pub"></option>
                <option value="The Trundle"></option>
                <option value="The Krishna Grand Xpress"></option>
                <option value="Sri Krishna Darshini"></option>
                <option value="Shringar Sweets & Snacks"></option>
                <option value="Udupi Grand"></option>
                <option value="Ganesh Grand"></option>
                <option value="Shreyas Upahar & Burger Point"></option>
                <option value="Little Cafe"></option>
                <option value="Mumbai Badam Milk & Lassi Center"></option>
                <option value="Sri Krishna Sagar"></option>
                <option value="Mylari Biryani Family Restaurant"></option>
                <option value="1980S Games Cafe"></option>
                <option value="Kadala Tarangaa"></option>
                <option value="Namma Biryani"></option>
                <option value="As On Fire"></option>
                <option value="J K Fish Land"></option>
                <option value="Curry Leaves"></option>
                <option value="Magic Meals"></option>
                <option value="Desi Cream Junction"></option>
                <option value="Drunken Monkey"></option>
                <option value="Bangalore Donne Biriyani"></option>
                <option value="Sgs Non Veg - Gundu Pulav"></option>
                <option value="Keventers"></option>
                <option value="Navi Food Point"></option>
                <option value="Shawarma Inc"></option>
                <option value="The Cafe Nuts And Bolts"></option>
                <option value="Am Wow"></option>
                <option value="Lalbagh Grand"></option>
                <option value="Funjabi Curries"></option>
                <option value="Eat Repeat"></option>
                <option value="Salut"></option>
                <option value="Nammura Donne Biriyani"></option>
                <option value="Lassi Stop"></option>
                <option value="Dakshin Kitchen"></option>
                <option value="Sri Sai Cafe"></option>
                <option value="Sri Sai 99 Variety Dosa"></option>
                <option value="Utsav Restaurant"></option>
                <option value="Crunch And Munch"></option>
                <option value="Food Geek"></option>
                <option value="Sri Krishna Aramane"></option>
                <option value="Great Indian Rolls"></option>
                <option value="Chats Point"></option>
                <option value="Food Point"></option>
                <option value="Swarga Ruchi"></option>
                <option value="Kolkata King"></option>
                <option value="Big Mishra Pedha"></option>
                <option value="Vegeatz"></option>
                <option value="Foodizo"></option>
                <option value="Food Springs"></option>
                <option value="Goli Vada Pav No. 1"></option>
                <option value="Maiyas"></option>
                <option value="Sip N Dine"></option>
                <option value="Cafe Mondo"></option>
                <option value="Jalpaan"></option>
                <option value="Amande Patisserie"></option>
                <option value="Anand Sweets And Savouries"></option>
                <option value="Chicken Hunt"></option>
                <option value="Swadesh Tadka"></option>
                <option value="Cane-O-La"></option>
                <option value="New Biryani Mane"></option>
                <option value="Karnataka Bhel House"></option>
                <option value="Sreeraj Lassi Bar"></option>
                <option value="Janahaar"></option>
                <option value="Utsav"></option>
                <option value="Meat And Eat"></option>
                <option value="Snacks Bite"></option>
                <option value="The Spice Saga"></option>
                <option value="Dakshin Cafe"></option>
                <option value="Kaulige Millet Corner"></option>
                <option value="Ifruit Ice Cream"></option>
                <option value="Havmor"></option>
                <option value="Grand Food"></option>
                <option value="Dining Hut"></option>
                <option value="Desi Swaad"></option>
                <option value="Yummy Momos"></option>
                <option value="Masale Daan"></option>
                <option value="Grow Fit"></option>
                <option value="Sandwich Hub"></option>
                <option value="Udupi Sri Krishna Cafe"></option>
                <option value="Starlite Bakery & Fastfood"></option>
                <option value="Veganbreak24X7"></option>
                <option value="Aadhya Hotel"></option>
                <option value="Dodda Mane Baaduta"></option>
                <option value="Swadd Kitchen"></option>
                <option value="Happy Chopsticks"></option>
                <option value="Udupi Upachar"></option>
                <option value="Davanagere Benne Dose Hut"></option>
                <option value="Subz"></option>
                <option value="Mint And Mustard"></option>
                <option value="Chinese Square"></option>
                <option value="Punjabi Raswada"></option>
                <option value="Sukh Sagar"></option>
                <option value="S M V Snacks Corner"></option>
                <option value="Andhra Ruchulu"></option>
                <option value="Steaming Mugs"></option>
                <option value="Rajathadri Food Fort"></option>
                <option value="Brew Meister"></option>
                <option value="Rasoi"></option>
                <option value="Mr. Singh Da Dhaba"></option>
                <option value="Kababs N Biryani"></option>
                <option value="Ayodhya Upachar"></option>
                <option value="Biriyani Mane"></option>
                <option value="Cafe Ajfan"></option>
                <option value="Brundhavana Food Point"></option>
                <option value="Slv Corner Restaurant"></option>
                <option value="Hotel New Karavali"></option>
                <option value="The Krishna Grand"></option>
                <option value="Roti Ghar"></option>
                <option value="Kettle & Kegs"></option>
                <option value="Baisakhi"></option>
                <option value="Poonam Sweets"></option>
                <option value="Corner Stone"></option>
                <option value="Arun Ice Cream"></option>
                <option value="Sweet N Swirl"></option>
                <option value="Sri Venkateshwara Sweet Meat Stall"></option>
                <option value="Baskin Robbins"></option>
                <option value="Srinivasa Brahmins Bakery"></option>
                <option value="Jain Bakes"></option>
                <option value="Kc Das - Sweet Spot"></option>
                <option value="A2B Veg - Adyar Ananda Bhavan"></option>
                <option value="Jcubez"></option>
                <option value="Blue Wings Bar & Restaurant"></option>
                <option value="New Imperial Restaurant"></option>
                <option value="Karavali Fish Center"></option>
                "Iyer<option value="S Tiffin Centre" , <option value="Kydz Adda"></option>
                <option value="Food Box Cafe"></option>
                <option value="Sri Ganesh Juice And Chats"></option>
                <option value="Manifest Cafe"></option>
                <option value="Taaza Thindi"></option>
                <option value="Sri Laxmi Venkateshwara Coffee Bar"></option>
                <option value="Messy Bowl"></option>
                <option value="Brahmin Cafe"></option>
                <option value="Hotel Mangala"></option>
                <option value="Simple Thindies"></option>
                <option value="Slv Swadishta"></option>
                <option value="New Sagar Fast Food"></option>
                <option value="Parama Ruchi"></option>
                <option value="Thrilok Restaurant"></option>
                <option value="Hanumanthanagar Biryani Junction"></option>
                <option value="Slv Refreshment"></option>
                <option value="Svkp Daily Fresh"></option>
                <option value="Srinagar Kabab Corner"></option>
                <option value="Sri Venkateshwara Chat Centre"></option>
                <option value="Vinay Bhel Corner"></option>
                <option value="Nandi Chats And Juice"></option>
                <option value="Food Adda"></option>
                <option value="Hotel Nisarga"></option>
                <option value="Yo Roll Corner"></option>
                <option value="New Quality Dum Biryani"></option>
                <option value="Sri Lakshmi Kabab Center"></option>
                <option value="Tasty Bites"></option>
                <option value="Raams Chicken"></option>
                <option value="Panchami"></option>
                <option value="Kavali"></option>
                <option value="Ranganna Military Hotel"></option>
                <option value="Vidyarthi Bhavan"></option>
                <option value="Bharjari Oota"></option>
                <option value="Bridgeway"></option>
                <option value="Soho Bar & Grill"></option>
                <option value="Bhavani Restaurant"></option>
                <option value="Zephyr"></option>
                <option value="Hotel Dwarka"></option>
                <option value="Nisarga Garden Restaurant"></option>
                <option value="Ma-Arya Family Restaurant"></option>
                <option value="Udupi Sri Krishna Bhavan"></option>
                <option value="Ice Thunder"></option>
                <option value="Mahalaxmi Tiffin Room"></option>
                <option value="Basavanagudi Mylari"></option>
                <option value="Shrinidhi Military Hotel"></option>
                <option value="Pramukh Family Restaurant"></option>
                <option value="Vybhava"></option>
                <option value="Shree Venkateshwara North Karnataka Hotel"></option>
                <option value="Anand Sagar Inn"></option>
                <option value="Sangam Military Hotel"></option>
                <option value="Belly Squad Food Truck"></option>
                <option value="50-50 Eating House"></option>
                <option value="Om Shiva Shakthi Chats Centre"></option>
                <option value="Rolls Corner"></option>
                <option value="New Ambur Hot Dum Biryani"></option>
                <option value="Deja Vu Resto Bar"></option>
                <option value="Fattoush"></option>
                <option value="Abhiruchi Hotel"></option>
                <option value="Tulips"></option>
                <option value="Barbeque Nation"></option>
                <option value="Sattvam"></option>
                <option value="24Th Main"></option>
                <option value="Zaitoon"></option>
                <option value="Mango Greens"></option>
                <option value="Oye Amritsar"></option>
                <option value="Melt - Eden Park"></option>
                <option value="Spice Code"></option>
                <option value="The Onyx - The Hhi Select Bengaluru"></option>
                <option value="The Pavillion"></option>
                <option value="Sankranthi Veg Restaurant"></option>
                <option value="Tisano Cafe"></option>
                <option value="Cafe Kabana"></option>
                <option value="Butterly"></option>
                <option value="Black Mug Cafe"></option>
                <option value="#Refuel"></option>
                <option value="Wafl"></option>
                <option value="Vaho Kafe & Pressery"></option>
                <option value="Dreamcatcher"></option>
                <option value="Cafe Arabica"></option>
                <option value="Starbucks"></option>
                <option value="Smoor"></option>
                <option value="Kalmane Koffees"></option>
                <option value="Shee-Sha Cafe"></option>
                <option value="Brews N Bites"></option>
                <option value="D2V Cafe"></option>
                <option value="Cafe Talk"></option>
                <option value="Cafe Choco Craze"></option>
                <option value="Slate Cafe"></option>
                <option value="Dialogues"></option>
                <option value="Mudpipe Cafe"></option>
                <option value="Tab - Take A Break"></option>
                <option value="Cafe Potpourri"></option>
                <option value="De Oxford Cafe"></option>
                <option value="Vinaya Coffee Moments"></option>
                <option value="Brew Point"></option>
                <option value="The Cravery"></option>
                <option value="Hearts Unlock Cafe"></option>
                <option value="Eat.Fit"></option>
                <option value="Sai Abhiruchi"></option>
                <option value="Capsicum Family Restaurant"></option>
                <option value="Box Magic"></option>
                <option value="Hiyar Majhe Kolkata"></option>
                <option value="Dabba Gosht"></option>
                <option value="Punjabites"></option>
                <option value="Sri Lakshmi Dhaba"></option>
                <option value="Swadista Aahar"></option>
                <option value="Vegetarea"></option>
                <option value="Al-Bek"></option>
                <option value="Yummrajj"></option>
                <option value="Swad Punjab Da"></option>
                <option value="Roti Wala"></option>
                <option value="Midnight Mania"></option>
                <option value="Kitchens@Jp Nagar"></option>
                <option value="Krishna Kuteera"></option>
                <option value="Apna Punjab"></option>
                <option value="Paratha Junction"></option>
                <option value="Nellore Bhojanam"></option>
                <option value="Momoz"></option>
                <option value="Kalingas"></option>
                <option value="Kanteen The Eatery"></option>
                <option value="Kullad Cafe"></option>
                <option value="Litti Twist"></option>
                <option value="Cakebuy"></option>
                <option value="Delight Food"></option>
                <option value="Andhra Kitchen"></option>
                <option value="Veg By Nature"></option>
                <option value="Chicken Magic"></option>
                <option value="Swathi Restaurant"></option>
                <option value="Fresh Kitchen"></option>
                <option value="Hind Ka Chulah"></option>
                <option value="Kuttanad"></option>
                <option value="New Mahesh Friends Food Corner"></option>
                <option
                    value="Bohra Bohra Cafã\x83Â\x83Ã\x82Â\x83Ã\x83Â\x82Ã\x82Â\x83Ã\x83Â\x83Ã\x82Â\x82Ã\x83Â\x82Ã\x82Â©">
                </option>
                <option value="Shree Krishna Sannidhi"></option>
                <option value="Bingejoy!"></option>
                <option value="Shiv Sai Hotel"></option>
                <option value="Mra"></option>
                <option value="Burj Hotel"></option>
                <option value="Shaadi Ki Biryani"></option>
                <option value="Madeena Hotel"></option>
                <option value="Biryani Durbar"></option>
                <option value="Mahesh Friends Food Center"></option>
                <option value="Juice Shop"></option>
                <option value="Alankrutha"></option>
                <option value="Paradise"></option>
                <option value="Kabab Mehal"></option>
                <option value="Sri Punjabi Dhaba"></option>
                <option value="Arabian Mexico"></option>
                <option value="Cakezone"></option>
                <option value="Fujian Express"></option>
                <option value="Indian Food"></option>
                <option value="Tandoori Paradise"></option>
                <option value="Kolkata Kathi Rolls"></option>
                <option value="Adithya"></option>
                <option value="Cheesiano Pizza"></option>
                <option value="Nati Palace"></option>
                <option value="Sher-E-Punjab"></option>
                <option value="Shuddh Desi Khana"></option>
                <option value="Karama Restaurant"></option>
                <option value="Jaganath Hotel And Restaurant"></option>
                <option value="Aramane Donne Biriyani"></option>
                <option value="A M Biryani Hotel"></option>
                <option value="Birinz"></option>
                <option value="Hyderabadi Bawarchi"></option>
                <option value="Fish Chain"></option>
                <option value="Prasiddhi Food Corner"></option>
                <option value="Biriyani Bhatti"></option>
                <option value="Hyderabad Biryaani House"></option>
                <option value="Red Chilli Restaurant"></option>
                <option value="Rss Donne Biryani"></option>
                <option value="Rajdhani Thali Restaurant"></option>
                <option value="Phew (Play Hard Eat Wild)"></option>
                <option value="New Kabab Zone"></option>
                <option value="Bawarchi Paradise"></option>
                <option value="Shree Udupi Grand"></option>
                <option value="Chicken County Grand"></option>
                <option value="Darjeeling Momos & Fast Food Center"></option>
                <option value="Veruthe Oru Thattukada"></option>
                <option value="Savoury - Sea Shell Restaurant"></option>
                <option value="Warm Oven"></option>
                <option value="Kundana"></option>
                <option value="Food Ka Masti"></option>
                <option value="The Shawarma Shop"></option>
                <option value="Momo Junction"></option>
                <option value="Antilla Aromas"></option>
                <option value="Punjabi Food Corner"></option>
                <option value="Mealer.In"></option>
                <option value="Pathaan Sir"></option>
                <option value="Cold Stone Creamery"></option>
                <option value="Hari Super Sandwich"></option>
                <option value="Amritsari Kulcha Land"></option>
                <option value="Chokha Chowka"></option>
                <option value="Gorbandh"></option>
                <option value="Grills & Rolls"></option>
                <option value="Bathinda Junction"></option>
                <option value="Stories"></option>
                <option value="Ubq By Barbeque Nation"></option>
                <option value="Agarwal Food Service"></option>
                <option value="Chef Delicacies"></option>
                <option value="Indiana Burgers"></option>
                <option value="Moksha"></option>
                <option value="Marwa Restaurant"></option>
                <option value="Shanghai Court"></option>
                <option value="Akshaya Donne Biriyani"></option>
                <option value="Bhojohori Manna"></option>
                <option value="Richie Rich"></option>
                <option value="Hunger Bee"></option>
                <option value="Yum In My Tum"></option>
                <option value="Maggi N Maggi House"></option>
                <option value="Fresh Dinner"></option>
                <option value="B.M.W Bhookh Mitaane Wala"></option>
                <option value="Biryani Miya"></option>
                <option value="Krispy Kreme"></option>
                <option value="Paani Kum Chai"></option>
                <option value="Chulha Chauki Da Dhaba"></option>
                <option value="Aliensip"></option>
                <option value="Waffle Head"></option>
                <option value="Samruddhi Biryani"></option>
                <option value="Basmati Delights"></option>
                <option value="Cravings"></option>
                <option value="Nagas"></option>
                <option value="Matka"></option>
                <option value="Punjabi Swag"></option>
                <option value="Taco Bell"></option>
                <option value="Ambur Star Dum Biryani"></option>
                <option value="Babu Moshai"></option>
                <option value="The Bong Palate"></option>
                <option value="Gowdru Mane Oota"></option>
                <option value="Banashankari Nati Style"></option>
                <option value="Crunch Pizzas"></option>
                <option value="Lassi Berg"></option>
                <option value="Kakal-Kai Ruchi"></option>
                <option value="Manchu Cafe"></option>
                <option value="Calorie Express"></option>
                <option value="Bangalore Box"></option>
                <option value="Hotel Khaaja"></option>
                <option value="The Gujarat Express"></option>
                <option value="Vishal Foods"></option>
                <option value="Lassi Darbar"></option>
                <option value="Chavadi"></option>
                <option value="Nanna Munna Paratha House"></option>
                <option value="Cucumber Town"></option>
                <option value="Kolkata Famous Kati Roll"></option>
                <option value="Nellore Ruchulu"></option>
                <option value="Brewsky"></option>
                <option value="Chefeana"></option>
                <option value="Bangaliana"></option>
                <option value="Gud Dhani"></option>
                <option value="The Hunger Room"></option>
                <option value="Parisar Veg Restaurant"></option>
                <option value="Deejas Kitchen"></option>
                <option value="Pancuzzi"></option>
                <option value="Eat Well"></option>
                <option value="Balaji Bombay Vada Pav Gujrati Dalebi"></option>
                <option value="The Cake Ville"></option>
                <option value="The Egg Factory"></option>
                <option value="Chow San"></option>
                <option value="New Udupi Grand"></option>
                <option value="New Karawali Lunch Home"></option>
                <option value="Sr Choco Station"></option>
                <option value="Momo Jojo"></option>
                <option value="Simply Indian"></option>
                <option value="Cravy Wings"></option>
                <option value="Funky Punjab"></option>
                <option value="A1 Garam Masala"></option>
                <option value="Punjabi Corner"></option>
                <option value="Guru Palace"></option>
                <option value="Zeeshan"></option>
                <option value="Ambara Gardenia"></option>
                <option value="Layerbite"></option>
                <option value="Bhavani Chats"></option>
                <option value="More Pizza"></option>
                <option value="Crafted Plate"></option>
                <option value="Naati Manae"></option>
                <option value="Mad Over Biryani"></option>
                <option value="Garma Garam"></option>
                <option value="Sambram Biriyani Paradise"></option>
                <option value="Mr. Meetharam"></option>
                <option value="The Coastal Crew By Fujian On 24Th"></option>
                <option value="Bib - Breakfast In The Box"></option>
                <option value="Angel Restaurant"></option>
                <option value="Wow Momo"></option>
                <option value="Pizza Da Dhaba"></option>
                <option value="Kalpavruksha"></option>
                <option value="Juice Land"></option>
                <option value="Tandoor And Spice"></option>
                <option value="Rock Stone Ice Cream Factory"></option>
                <option value="Paratha Plaza"></option>
                <option value="Krishna Vijayashree"></option>
                <option value="Soup Station"></option>
                <option value="Tasty Point"></option>
                <option value="Natural Mumbai Kulfi"></option>
                <option value="Namma Kudla"></option>
                <option value="Triveni"></option>
                <option value="Wangs Kitchen"></option>
                <option value="Rk Fresh Food"></option>
                <option value="Alif Restaurant"></option>
                <option value="Dine One One Restaurant"></option>
                <option value="Pallavas Veg Cuisine"></option>
                <option value="The Food Cottage"></option>
                <option value="Brundhavana Pure Veg"></option>
                <option value="Spice Up"></option>
                <option value="Suryawanshi"></option>
                <option value="Tempteys"></option>
                <option value="Delibox.In"></option>
                <option value="Frybies"></option>
                <option value="Crumb Together"></option>
                <option value="The Foodyz"></option>
                <option value="Taste Of Kolkata"></option>
                <option value="Y Not Restaurant"></option>
                <option value="24/7 Food Service"></option>
                <option value="Modern Restaurant"></option>
                <option value="Burrito Boys"></option>
                <option value="Trippy Paradise"></option>
                <option value="Biryani Magic"></option>
                <option value="Nagarjuna"></option>
                <option value="Laddoos"></option>
                <option value="Waffle Stories"></option>
                <option value="Late Night"></option>
                <option value="Waffle Walle"></option>
                <option value="Shake It Off"></option>
                <option value="Bombay Kulfi"></option>
                <option value="Chaat Central"></option>
                <option value="Two Friends Cauldron"></option>
                <option value="Bun Town"></option>
                <option value="Garden Fresh"></option>
                <option value="Dhabeliwala"></option>
                <option value="Asharfilal"></option>
                <option value="Street Foods By Punjab Grill"></option>
                <option value="Melting Pot At Woodrose"></option>
                <option value="Pot Biryani"></option>
                <option value="Dessi Cuppa"></option>
                <option value="Halli Mane Mudde Oota"></option>
                <option value="Wow Vada Pav"></option>
                <option value="The Jade Kitchen"></option>
                <option value="Krishna Vaibhava"></option>
                <option value="Nandhanus Rasoi"></option>
                <option value="Donne Biriyani Mane"></option>
                <option value="Fish And Dish"></option>
                <option value="Miss Momo"></option>
                <option value="Intalia"></option>
                <option value="Chicken County Restaurant"></option>
                <option value="Velvet Kitchen"></option>
                <option value="Hotel Aradhana"></option>
                <option value="The Chervil"></option>
                <option value="Sri Rajasthani Foods"></option>
                <option value="New Royal Treat"></option>
                <option value="I Cool"></option>
                <option value="Mahek Pizza"></option>
                <option value="Kc Das- Sweet World"></option>
                <option value="Panther Cafe"></option>
                <option value="Roots N Fruits"></option>
                <option value="Kaizen Wellness Kitchen"></option>
                <option value="Mad Over Donuts"></option>
                <option value="Kolkata Famous Kati Rolls"></option>
                <option value="Vinaya Cafe"></option>
                <option value="Rbp Greens Garden"></option>
                <option value="Dazu Momoz"></option>
                <option value="Desi Dhaba"></option>
                <option value="New Mogul Empire"></option>
                <option value="Atithi Biryani Corner"></option>
                <option value="Oottupura Family Restaurant"></option>
                <option value="Yumme Veg"></option>
                <option value="Shree Guru Raghavendra Chats Chintamani Special"></option>
                <option value="Vyanjan"></option>
                <option value="Sri Sankara Cafe"></option>
                <option value="Bhaijaan Barbeques"></option>
                <option value="Chatter Platter"></option>
                <option value="Bikaneri Sweets"></option>
                <option value="Chicken Man"></option>
                <option value="Nandhana Palace"></option>
                <option value="Biryani Nights"></option>
                <option value="Thejas Bhavan"></option>
                <option value="Graffitea"></option>
                <option value="Gappe"></option>
                <option value="On The Nose"></option>
                <option value="Juicy & Spicy"></option>
                <option value="Eat Repeat Express"></option>
                <option value="Tfi - The Fresh Ice Cream"></option>
                <option value="Mirch Masala"></option>
                <option value="Just Chill"></option>
                <option value="Baba Ka Dhaba"></option>
                <option value="Hot Burg"></option>
                <option value="Northern Bites"></option>
                <option value="Hotel Smile"></option>
                <option value="Roll Wala"></option>
                <option value="Natural Ice Cream"></option>
                <option value="F3 Food Fun Fiesta"></option>
                <option value="The Chocolate Room"></option>
                <option value="Aramane Restaurant"></option>
                <option value="Hunger2Eat"></option>
                <option value="Bbq Ride 46"></option>
                <option value="Bawarchi Inn"></option>
                <option value="Upahar Banashree"></option>
                <option value="Me And My Cake"></option>
                <option value="Bhojon Tripti"></option>
                <option value="New South Corner"></option>
                <option value="Khana Khazana"></option>
                <option value="China Tang"></option>
                <option value="California Burrito"></option>
                <option value="Tandoor Garden"></option>
                <option value="Caffe Pascucci"></option>
                <option value="Freeze It"></option>
                <option value="Meal Square"></option>
                <option value="Chaitanya Cafe"></option>
                <option value="Tasty Jigarthanda"></option>
                <option value="Berrylicious"></option>
                <option value="Rcs Kitchen"></option>
                <option value="Pappu Da Dhaba"></option>
                <option value="Smoke - The Sizzler House"></option>
                <option value="Sandwich Shop"></option>
                <option value="Joon Restaurant"></option>
                <option value="Snack Knack"></option>
                <option value="Chung Wah Opus"></option>
                <option value="Chef & Dine"></option>
                <option value="Once In Nature"></option>
                <option value="Manjushree Upahara"></option>
                <option value="Hotel Annapoorna"></option>
                <option value="Dream A Dozen"></option>
                <option value="Bread Crumbs Bakery"></option>
                <option value="Nite Out"></option>
                <option value="Cupcake Bliss"></option>
                <option value="Armaani Caffe"></option>
                <option value="Muddhe Bytes"></option>
                <option value="Bombay Kulfis"></option>
                <option value="Willys Top Cafe"></option>
                <option value="Mist N Creams"></option>
                <option value="Pepper Crown Restaurant"></option>
                <option value="Pizza Paradise"></option>
                <option value="The Curry Hut Plus"></option>
                <option value="Malabar Mess"></option>
                <option value="Malabar Cafe"></option>
                <option value="Tangra Indo - Chinese Cuisine"></option>
                <option value="Juice Junction"></option>
                <option value="Xpress Chai"></option>
                <option value="Zhangs Classic"></option>
                <option value="Guru Greens"></option>
                <option value="D View Cafe"></option>
                <option value="The Cuboidal"></option>
                <option value="Delifusion - Hunger Sorted"></option>
                <option value="Flavour Of China"></option>
                <option value="Gujrati Mess"></option>
                <option value="Cake-O-Mania"></option>
                <option value="The Park Inn Restaurant"></option>
                <option value="Eagle Ridge"></option>
                <option value="Vidya Cafe"></option>
                <option value="Kabab Treat"></option>
                <option value="Limra Hotel"></option>
                <option value="Kafe Nook"></option>
                <option value="Kumbha Bhojanam"></option>
                <option value="Yummerica Fries"></option>
                <option value="Casa Piccosa"></option>
                <option value="Bake Addiction"></option>
                <option value="Tongue Twisters"></option>
                <option value="Hot Rolls & House Of Kebabs"></option>
                <option value="Aami Kolkata"></option>
                <option value="Vaathsalya Millet Cafe"></option>
                <option value="Hungry Buddies"></option>
                <option value="Thericebowl.In"></option>
                <option value="Guru Garden"></option>
                <option value="Cakes By M"></option>
                <option value="Brewz Coffee"></option>
                <option value="Fritz Haber"></option>
                <option value="Athithi"></option>
                <option value="Smooth Blender"></option>
                <option value="Sri Bhagya Grand"></option>

                <option value="Neals Cafe"></option>
                <option value="Flavorsome Bakes"></option>
                <option value="Bake-Ooh"></option>
                <option value="The Yummy Tummy"></option>

                <option value="Crepe Nation"></option>
                <option value="Rice Bar"></option>
                <option value="Kanika Biryani Paradise"></option>
                <option value="Resto"></option>
                <option value="New Tandoori Point"></option>
                <option value="Shiv Sagar"></option>
                <option value="Little Shangai"></option>
                <option value="Slice Of Spice"></option>
                <option value="Bao And Rolls"></option>
                <option value="Andhra Bhojanam"></option>
                <option value="Kanchan Dhaba"></option>
                <option value="Encyclofoodia"></option>
                <option value="Bella?S Kitchen"></option>
                <option value="Food Feast Multicusine Restaurant"></option>
                <option value="Bangalir Rannaghar"></option>
                <option value="Sai Samosa & Chat Corner"></option>
                <option value="The Chocolatiers"></option>
                <option value="Ballava"></option>
                <option value="Zaika Take Away"></option>
                <option value="Snackiey"></option>
                <option value="Sandwich Mamas"></option>
                <option value="The Shake Factory Originals"></option>
                <option value="Hotel Lakshmi Paradise"></option>
                <option value="Desi Bites"></option>
                <option value="Shiv Sai"></option>
                <option value="The Juicy"></option>
                <option value="Feast And Burp"></option>
                <option value="Zengi Pub & Restaurant"></option>
                <option value="Cafe Indiana"></option>
                <option value="Multi Cakes"></option>
                <option value="Bhukkad"></option>
                <option value="Malhar Maharashtrian Cuisine"></option>
                <option value="Mandi"></option>
                <option value="Pallavi North Indian Veg Restaurant"></option>
                <option value="Restro Cafe"></option>


            </datalist>
        </div>
        <div class="input-box">
        </div>
    </form>
</section>
<section id="clientsection">
    {%block result %}
    {%endblock%}
</section>
{% endblock %}
